---
import Layout from "../../layouts/Layout.astro";
import RoundedButton from "../../components/RoundedSelect/RoundedButton.astro";
---

<Layout title="Thiago | Politicas de Privacidad">
    <div
        class='text-center border-2 hue-rotate-15 saturate-200 mx-10 my-10 py-28 rounded-xl bg-[url("/AtacamaN.jpg")] bg-cover bg-bottom'
    >
        <h1 class="font-bold text-5xl uppercase text-white">
            Sobre Nuestras Politicas
        </h1>
        <small class="text-gray-300 text-base"
            >Aquí encontrarás los terminos y condiciones que aceptas al momento
            de contratar alguno de nuestros servicios.</small
        >
    </div>

    <section class='mx-24'>
        <h1 class='font-extrabold text-3xl text-center py-5'>POLITICAS DE RESERVA</h1>
        <p>
            Las reservas realizadas a través de operadores de turismo o agencias
            de viajes serán solicitadas con una antelación de 7 días antes del
            inicio del viaje. Una vez confirmada la disponibilidad de espacio
            para la fecha y el tour requerido, el cliente debe enviar THIAGO
            AGENCY por correo electrónico con todo sus detalles,
            <span class='font-bold text-green-400'>contacto@thiagoagency.com</span>
        </p>
        <h3>Todos los pagos</h3>
        <p>
            Deberán ser depositados 48 horas antes del inicio del tour en
            nuestra Cuenta Corriente del Banco Santander N° todos los depósitos
            deben enviarse a este Mail: <span class='font-bold text-green-400'>contacto@thiagoagency.com</span> para depósitos
            de reserva del exterior pueden usar la misma cuenta corriente
        </p>
        <h3>Cancelaciones y Devoluciones</h3>
        <p>
            La cancelación de un servicio contratado debe ser notificada en
            forma escrita. Si la cancelación es efectuada luego del pago total
            por el servicio contratado, el porcentaje de retenciones a aplicar
            surge de la siguiente escala: Cancelación 2 días antes del tour: 50%
            Cancelación el mismo día del tour: 100%
        </p>
        <h3>Seguros</h3>
        <p>
            Es responsabilidad de los mismos turistas la contratación de seguros
            de viaje o contra accidentes, así como portar la documentación
            necesaria al momento del viaje.
        </p>
        <h3>Limitación de Responsabilidad</h3>
        <p>
            La participación en los tours requiere un buen estado general de
            salud, debido a que durante el mismo se realizan caminatas y
            recorridos en vehículos 4x4 . Cualquier limitación o insuficiencia
            física, así como alergias y requerimientos alimenticios especiales,
            deben ser informadas a thiago agency , al momento de solicitar la
            reserva.
        </p>
        <h3>Cancelaciones y Retrasos Aéreos</h3>
        <p>
            thiago agency, también declina cualquier responsabilidad por demoras
            o cancelaciones de vuelos aéreos, buses, tren, accidentes, huelgas,
            bloqueos, cambios de itinerarios fuera de su control u otras
            irregularidades. Si durante la realización del tour y/o decisión
            propia el pasajero abandonara el tours organizado o si el pasajero
            no hizo uso de algún servicio, no tendrá derecho a reclamo ni
            devolución alguna.
        </p>
        <h3>Cambios de Itinerario del Tour</h3>
        <p>
            thiago agency, realizará todos los esfuerzos para efectuar el tour
            de acuerdo al itinerario previsto. Sin embargo, en caso de ser
            necesario y por razones ajenas a la empresa, como condiciones
            climáticas, sociales y otras, el itinerario puede ser modificado a
            fin de garantizar la seguridad, comodidad y/o la experiencia
            satisfactoria del visitante.
        </p>
    </section>

    <style>
        h3 {
            padding-top: 20px;
            padding-bottom: 20px;
            font-weight: bolder;
        }
    </style>
</Layout>
