---
import Location from '../Assets/Location.svg'
import ImageHero from '../Assets/ImageHero.png'

---
<section class="flex p-20">

    <div class="my-auto max-w-fit flex flex-wrap justify-center mx-auto">
        <section class="min-w-[2rem]">
            <span class="flex">
                <img src={Location.src} alt="Location">
                <h1 class="font-bold px-2">San Pedro de Atacama</h1>
            </span>
            <h1 class="font-extrabold text-6xl">TU AGENCIA</h1>
            <h1 class="font-extrabold text-7xl pb-5">TURISTICA</h1>
                <hr class="pb-5 border-orange-500">
            <p class=" max-w-md">Somos Tu agencia de confiaza, ese amigo que te eneseña<br>a ver el mundo con otros ojos, ¿Que esperas para viajar?</p>
            <button href="#" class="w-96 py-3 my-10 rounded-lg bg-orange-600 text-white font-bold hover:shadow-xl hover:shadow-orange-400 transition-all">
                ¡Quiero Viajar!
            </button>

        </section>

        
    </div>

    <div class="lg:my-auto lg:mx-36 w-[40rem] hidden lg:block">
         <img src={ImageHero.src} alt="" class="my-auto min-w-[350px]">
    </div>

</section>
