---
import Location from "../Assets/Location.svg";
import ImageHero from "../Assets/ImageHero.png";
import ImageHero2 from "../Assets/Atacama.jpg";
import HEROTEXT from "../Assets/HEROTEXT.svg";
import Scroll from "../Assets/Scroll.png";
---

<section class={' bg-cover bg-hero-pattern bg-no-repeat shadow-[inset_0px_-170px_100px_-50px_rgba(255,255,255,1)]'}>
    <div class="flex justify-center pt-20">
        <div class="flex flex-col  items-center gap-32 ">
            <img src={HEROTEXT.src} alt="ImageHero" />
            <a href="/contacto" class="rounded-full text-xl bg-black px-5 py-2 font-thin text-white border mb-10 tracking-widest">
               ¡QUIERO VIAJAR!
            </a>
                <img src={Scroll.src} alt=""  class="mb-40">

        </div>

    </div>
</section>

