---
import Location from '../Assets/Location.svg'
import Turista from '../Assets/Turista.png'

---
<section class="h-96  lg:px-20 lg:flex lg:justify-between border-red-600">

    <div class="my-auto max-w-fit ">
        <span class="flex">
            <img src={Location.src} alt="Location">
            <h1 class="font-bold px-2">San Pedro De Atacama</h1>
        </span>
        <h1 class="font-extrabold text-6xl">TU AGENCIA</h1>
        <h1 class="font-extrabold text-7xl pb-5">TURISTICA</h1>
            <hr class="pb-5 border-indigo-500">
        <p>Somos Tu agencia de confiaza, ese amigo que te eneseña <br> a ver el mundo con otros ojos, ¿Que esperas para viajar?</p>
    </div>

    <div class="my-auto mx-36">
        <!-- <img src={Turista.src} alt=""> -->
    </div>
</section>