---
import LogoIpsum from "../Assets/LogoIpsum.svg";

---
<div class="md:hidden sm:hidden px-5 py-5 rounded-xl bg-orange-600 font-semibold text-white text-xl lg:flex justify-between w-1/2 mx-auto">
    <h3>Conoce todos los paquetes que te ofrecemos para <br> conocer el norte de Chile</h3>
    <img src={"/Logo.svg"} alt="Logo" class="w-10 mx-auto"/>
</div>