---
// Layout Imports
import Layout from "../layouts/Layout.astro";
import SectionLayout from "../layouts/SectionLayout.astro";

// Component Imports
import Hero from "../components/Hero/Hero.astro";
import Title from "../components/Title/Title.astro";
import Card from "../components/Card/Card.astro";
import TextSlider from "../components/TextSlider/TextSlider.astro";
import ShowMore from "../components/ShowMore/ShowMore.astro";
import PopularPlaces from "../components/Assets/PopularPlaces.svg";
---

<Layout title="Thiago | Inicio">
    <Hero />

    <SectionLayout class:list={' flex justify-center content-center items-center mx-auto'}>
        <img src={PopularPlaces.src} alt="">
        <div class="grid md:grid-cols-4 grid-cols-1 gap-5 my-10">
            <!-- <div class=""> -->

                <Card
                    cardImg={"/ValleLuna.jpg"}
                    cardTitle={"Valle de la Luna"}
                    cardQualification={4.5}
                    cardUbication={"San Pedro de Atacama"}
                />

                <Card
                    cardImg={"/LagunaSalar.jpg"}
                    cardTitle={"Laguna Cejar"}
                    cardQualification={4.5}
                    cardUbication={"San Pedro de Atacama"}
                />

                <Card
                    cardImg={"/SanPedroAtacama.png"}
                    cardTitle={"San Pedro Atacama"}
                    cardQualification={4.5}
                    cardUbication={"San Pedro de Atacama"}
                />

                <Card
                    cardImg={"/ValleArcoIris.png"}
                    cardTitle={"Valle Arcoiris"}
                    cardQualification={4.5}
                    cardUbication={"San Pedro de Atacama"}
                />
            <!-- </div> -->
        </div>
    </SectionLayout>

    <div class="flex flex-col justify-center content-center text-center overflow-hidden">
      <div class="mx-auto">
          <span>
              <TextSlider direction="right" color="text-green-400" />
          </span>

          <span>
              <TextSlider direction="left" color="text-black" />
          </span>
      </div>
  </div>

    <SectionLayout>
        <Title content="¿Quienes Somos?" style="text-center font-caveat" />
        <div class="text-center">
            <span class="max-w-[84rem] text-center">
                En Thiago Agencia de Viajes, estamos apasionados por brindar
                experiencias de viaje inolvidables y personalizadas. <br /> Nos
                hemos dedicado a hacer realidad los sueños de nuestros clientes
                y superar sus expectativas durante más de una década.
            </span>

            <img
                src={"/LOGOEXP.svg"}
                alt="Logo"
                width="100px"
                class="mx-auto my-10"
            />
            
        </div>
    </SectionLayout>

    <ShowMore />
    <script>
        //document.getElementById('deactivateButton').addEventListener('click', function() {
        // Ocultar el modal
       // document.querySelector('.fixed.inset-0').style.display = 'none';
        //document.querySelector('#modal-nonpayment').style.display = 'none';
    });
</script>
</Layout>


