---
// Layout Imports
import Layout from "../layouts/Layout.astro";
import SectionLayout from "../layouts/SectionLayout.astro";

// Component Imports
import Hero from "../components/Hero/Hero.astro";
import Title from "../components/Title/Title.astro";
import Card from "../components/Card/Card.astro";
import TextSlider from "../components/TextSlider/TextSlider.astro";
import ShowMore from "../components/ShowMore/ShowMore.astro";
import PopularPlaces from "../components/Assets/PopularPlaces.svg";
---

<Layout title="Thiago | Inicio">
    <Hero />

<!-- ------ MODAL DE PAGO NO EFECTUADO ------ -->
    
{
  /*
  
  */
}
    <div class="relative z-10" id="modal-nonpayment" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <!--
          Background backdrop, show/hide based on modal state.
      
          Entering: "ease-out duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100"
            To: "opacity-0"
        -->
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
      
        <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
          <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <!--
              Modal panel, show/hide based on modal state.
      
              Entering: "ease-out duration-300"
                From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                To: "opacity-100 translate-y-0 sm:scale-100"
              Leaving: "ease-in duration-200"
                From: "opacity-100 translate-y-0 sm:scale-100"
                To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            -->
            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
              <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                  <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                    <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                    </svg>
                  </div>
                  <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                    <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">¡Cerrada al publico!</h3>
                    <div class="mt-2">
                      <p class="text-sm text-gray-500">El pago del desarrollo de esta web <span class="text-red-500 font-bold">NO</span> se ha efectuado, por lo tanto, su funcionamiento al publico no esta permitido, unicamente directivos pueden ver esta web. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                <button type="button" id="deactivateButton" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">Entendido, ver pagína.</button>
                <a href="https://www.google.com/" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Salir</a>
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- ------ MODAL DE PAGO NO EFECTUADO ------ -->

    <SectionLayout class:list={' flex justify-center content-center items-center mx-auto'}>
        <img src={PopularPlaces.src} alt="">
        <div class="grid md:grid-cols-4 grid-cols-1 gap-5 my-10">
            <!-- <div class=""> -->

                <Card
                    cardImg={"/ValleLuna.jpg"}
                    cardTitle={"Valle de la Luna"}
                    cardQualification={4.5}
                    cardUbication={"San Pedro de Atacama"}
                />

                <Card
                    cardImg={"/LagunaSalar.jpg"}
                    cardTitle={"Laguna Cejar"}
                    cardQualification={4.5}
                    cardUbication={"San Pedro de Atacama"}
                />

                <Card
                    cardImg={"/SanPedroAtacama.png"}
                    cardTitle={"San Pedro Atacama"}
                    cardQualification={4.5}
                    cardUbication={"San Pedro de Atacama"}
                />

                <Card
                    cardImg={"/ValleArcoIris.png"}
                    cardTitle={"Valle Arcoiris"}
                    cardQualification={4.5}
                    cardUbication={"San Pedro de Atacama"}
                />
            <!-- </div> -->
        </div>
    </SectionLayout>

    <div class="flex flex-col justify-center content-center text-center overflow-hidden">
      <div class="mx-auto">
          <span>
              <TextSlider direction="right" color="text-green-400" />
          </span>

          <span>
              <TextSlider direction="left" color="text-black" />
          </span>
      </div>
  </div>

    <SectionLayout>
        <Title content="¿Quienes Somos?" style="text-center font-caveat" />
        <div class="text-center">
            <span class="max-w-[84rem] text-center">
                En Thiago Agencia de Viajes, estamos apasionados por brindar
                experiencias de viaje inolvidables y personalizadas. <br /> Nos
                hemos dedicado a hacer realidad los sueños de nuestros clientes
                y superar sus expectativas durante más de una década.
            </span>

            <img
                src={"/LogoNegro.svg"}
                alt="Logo"
                width="100px"
                class="mx-auto my-10"
            />
            
        </div>
    </SectionLayout>

    <ShowMore />
    <script>
        document.getElementById('deactivateButton').addEventListener('click', function() {
        // Ocultar el modal
        document.querySelector('.fixed.inset-0').style.display = 'none';
        document.querySelector('#modal-nonpayment').style.display = 'none';
    });
</script>
</Layout>


