---
import Layout from "../layouts/Layout.astro";

import LargeCard from "../components/LargeCard/LargeCard.astro";
import { ghostClient } from "../lib/ghost";

let posts = await ghostClient.posts
    .browse({
        limit: "all",
    })
    .catch((err) => {
        console.error(err);
    });

posts = posts || [];
---

<Layout title="Thiago | Tours">
    <section class="bg-white">
        <div
            class="container flex flex-col items-center px-4 py-12 mx-auto text-center"
        >
            <h2
                class="text-2xl font-bold tracking-tight text-gray-800 xl:text-3xl"
            >
                ¡Es hora de descubrir el encanto del Norte de Chile!
            </h2>

            <p class="block max-w-4xl mt-4 text-gray-500">
                ¡Prepárate para explorar las maravillas del norte de Chile!
                Descubre paisajes deslumbrantes, cultura fascinante y aventuras
                inolvidables mientras te sumerges en la riqueza del desierto más
                árido del mundo y sus encantos únicos. ¡Es hora de vivir una
                experiencia inigualable en el norte chileno!
            </p>

            <div class="mt-6">
                <a
                    href="#"
                    class="inline-flex items-center justify-center w-full px-4 py-2.5 overflow-hidden text-sm text-white transition-colors duration-300 bg-gray-900 rounded-lg shadow sm:w-auto sm:mx-2 hover:bg-gray-700 focus:ring focus:ring-gray-300 focus:ring-opacity-80"
                >
                    <span class="mx-2"> Contactarme con un asesor.</span>
                </a>

                <a
                    href="#"
                    class="inline-flex items-center justify-center w-full px-4 py-2.5 mt-4 overflow-hidden text-sm text-white transition-colors duration-300 bg-green-600 rounded-lg shadow sm:w-auto sm:mx-2 sm:mt-0 hover:bg-green-500 focus:ring focus:ring-green-300 focus:ring-opacity-80"
                >
                    <span class="mx-2"> Ver todos los tours.</span>
                </a>
            </div>
        </div>
    </section>

    <section class="text-gray-900 font-sans p-6">
        <div class="flex flex-wrap">
            {
                posts.length > 0 ? (
                    posts.map((post) => (
                        <LargeCard
                            tag={"Thiago Agency"}
                            image={post.feature_image}
                            destiny={post.title}
                            description={post.excerpt}
                        />
                    ))
                ) : (
                    <div class="w-full mx-auto text-center">
                        <span>
                            <span class="text-green-500 font-bold">Ups</span>,
                            Una vez el pago al desarrollador sea efectuado, la API será liberada.
                                <br>
                                <br>
                            Puedes contactarte con nosotros para ayudarnos a
                            solucionar este problema escribiendonos a través de
                            <span class="text-green-500">
                                ingenieria@thiagoagency.com
                            </span>
                        </span>
                    </div>
                )
            }
        </div>
    </section>
</Layout>
