---
import NavBar from '../components/NavBar/NavBar.astro'
import InfoBar from '../components/InfoBar/InfoBar.astro'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
		<InfoBar
			twitterUrl='#Twitter'
			twitterUser='ThiagoAgencycl'
			facebookUrl='#Facebook'
			facebookUser='Thiago Agency'
			phoneNumber='+56 55 243 6794'
			email='hola@thiagoagency.cl'
		/>
		<NavBar />
	</header>
		<slot />
	</body>
</html>
